# Archivo stack.env para Portainer
# Este archivo debe estar en el repositorio Git si usas "Repository" en Portainer
# O puedes configurar las variables directamente en la interfaz de Portainer

USER=tu_email@ejemplo.com
PASS=tu_contraseña
HEADLESS=true
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_email@gmail.com
SMTP_PASS=tu_contraseña_app
SMTP_FROM=tu_email@gmail.com
EMAIL_RECIPIENTS=destinatario1@ejemplo.com,destinatario2@ejemplo.com

